@charset "UTF-8";
h1 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.list-offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.item-offer .expired img {
  opacity: 1;
}

.item-offer .expired::before {
  position: absolute;
  content: 'HẾT HẠN';
  padding: 5px 10px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #f2a900;
  background-color: #f2a900;
  color: white;
  font-size: 17px;
  border-radius: 3px;
}

.item-offer .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  height: 253px;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-offer .image img {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item-offer .image:hover {
  overflow: hidden;
}

.item-offer .image:hover img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item-offer .image div {
  position: absolute;
  top: 10px;
  left: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  line-height: 31px;
  text-transform: uppercase;
  padding: 4px 8px 4px 10px;
  background-color: #f2a900;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: 40px;
  z-index: 2;
}

.item-offer .image div::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 0px;
  background-image: url("../../../../images/tag.png");
  width: 56px;
  height: 40px;
  z-index: -1;
}

.item-offer .image div sup {
  font-size: 14px;
}

.item-offer .text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.item-offer .text h3 a {
  color: #3c3c3b;
}

.item-offer .text .gia-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-offer .text .gia-user .gia p {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #f2a900;
  margin-bottom: 0;
}

.item-offer .text .gia-user .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-offer .text .gia-user .user .img {
  margin-right: 5px;
}

.item-offer .text .gia-user .user .img img {
  width: auto !important;
}

.item-offer .text .gia-user .user p {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #3c3c3b;
  margin-bottom: 0;
}

.pagination {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin: 40px 0;
}

.pagination a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}

.pagination .current {
  background-color: #f2a900;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .list-offer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .image {
    height: 100px !important;
  }
  .image .text p {
    font-size: 14px;
  }
  .item-offer .image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .item-offer .text a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 14px;
  }
  .item-offer .text h3 {
    margin-bottom: 5px;
  }
  .item-offer .gia-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .item-offer .gia-user .user {
    margin: auto;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=home.css.map */