.change-password-box {
  display: none;
}

.grid-members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.4fr;
      grid-template-columns: 1fr 2.4fr;
  grid-gap: 30px;
  padding-top: 30px;
  margin-bottom: 60px;
}

.user-menu-side {
  border-radius: 10px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.user-menu-side .user-name {
  border-radius: 10px 10px 0 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0057A0;
  color: #fff;
  font-size: 16px;
}

.user-menu-side .user-name img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.user-menu-side .user-name span {
  font-weight: 700;
}

.user-menu-side ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu-side ul a {
  border-bottom: 1px solid #EEEEEE;
  padding: 15px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #14304F;
  line-height: normal;
  border-left: 0px solid #0057A0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.user-menu-side ul a i {
  color: #14304F;
  width: 30px;
  font-size: 18px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.user-menu-side ul li:last-child a {
  border-bottom: none;
}

.user-menu-side ul li:hover a, .user-menu-side ul li.selected a {
  background: #FAFAFA;
  color: #0057A0;
  border-left: 3px solid #0057A0;
}

.user-menu-side ul li:hover i, .user-menu-side ul li.selected i {
  color: #0057A0;
}

.user-content-side {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.user-content-side .member-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #14304F;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #ddd;
}

.user-content-side .box-user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px auto;
      grid-template-columns: 240px auto;
  margin-bottom: 20px;
}

.user-content-side .box-user input[type=text], .user-content-side .box-user input[type=password], .user-content-side .box-user input[type=date] {
  width: 500px;
  height: 40px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.user-content-side .box-user input[type=text]::-webkit-input-placeholder, .user-content-side .box-user input[type=password]::-webkit-input-placeholder, .user-content-side .box-user input[type=date]::-webkit-input-placeholder {
  color: #999999;
}

.user-content-side .box-user input[type=text]:-ms-input-placeholder, .user-content-side .box-user input[type=password]:-ms-input-placeholder, .user-content-side .box-user input[type=date]:-ms-input-placeholder {
  color: #999999;
}

.user-content-side .box-user input[type=text]::-ms-input-placeholder, .user-content-side .box-user input[type=password]::-ms-input-placeholder, .user-content-side .box-user input[type=date]::-ms-input-placeholder {
  color: #999999;
}

.user-content-side .box-user input[type=text]::placeholder, .user-content-side .box-user input[type=password]::placeholder, .user-content-side .box-user input[type=date]::placeholder {
  color: #999999;
}

.user-content-side .box-user input[type=text]:focus, .user-content-side .box-user input[type=password]:focus, .user-content-side .box-user input[type=date]:focus {
  -webkit-box-shadow: 0 0 8px rgba(210, 184, 110, 0.6);
          box-shadow: 0 0 8px rgba(210, 184, 110, 0.6);
  border-color: #D2B86E;
}

.user-content-side .box-user input[type=file] {
  cursor: pointer;
  color: #999;
  margin-bottom: 8px;
}

.user-content-side .box-user .label-input {
  width: 240px;
  margin-bottom: 0;
  font-size: 16px;
  color: #14304F;
  font-weight: 500;
  padding-top: 8px;
}

.user-content-side .box-user .label-input span {
  color: #D6A824;
}

.user-content-side .box-user .label_error {
  padding-left: 240px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/4/5;
}

.user-content-side .box-user .select2 {
  width: 500px !important;
  font-size: 16px;
}

.user-content-side .box-user .select2 .select2-selection {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-content-side .box-user .select2 .select2-selection .select2-selection__rendered {
  line-height: normal;
  padding: 0 20px;
}

.user-content-side .box-user .select2 .select2-selection .select2-selection__arrow {
  top: unset;
  height: auto;
  right: 20px;
  width: auto;
  color: #6D6E70;
}

.user-content-side .image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-content-side .image-wrap img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.user-content-side .image-wrap .up-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 60px);
}

.user-content-side .image-wrap .up-file span {
  color: #999999;
  font-size: 14px;
  line-height: normal;
  width: 100%;
}

.user-content-side .box-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  color: #999;
}

.user-content-side .box-radio .check-radio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-content-side .box-radio .checkmark {
  top: unset;
}

.user-content-side .box-radio .check-radio .checkmark {
  border-color: #FAAF40;
}

.user-content-side .box-radio .check-radio .checkmark:after {
  background: #FAAF40;
}

.user-content-side .box-radio input:checked ~ span {
  color: #6D6E70;
}

.user-content-side .change-password-check {
  padding-left: 240px;
  font-size: 16px;
  color: #000;
}

.user-content-side .box-submit {
  padding-left: 240px;
  display: unset;
}

.user-content-side .box-submit a {
  margin-top: 5px;
  border-radius: 3px;
  background: #d2b86e;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.user-content-side .box-submit a:hover {
  background: #B38F33;
}

.list-user-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.list-user-products .item {
  border: 1px solid #ddd;
  -webkit-box-shadow: 0px 1px 1px #ddd;
          box-shadow: 0px 1px 1px #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.list-user-products .item .remove-liked {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  width: 30px;
  height: 30px;
  background: #faaf40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.list-user-products .item .remove-liked:hover {
  background: #6D6E70;
}

.list-user-products .item img {
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 8px;
}

.list-user-products .item .aname {
  text-align: center;
  line-height: normal;
  font-size: 14px;
  color: #000;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.list-user-products .item .aname:hover {
  color: #faaf40;
}

.list-user-products .item .add_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 35px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #6d6e70;
  font-weight: 700;
  font-size: 14px;
  color: #6d6e70;
  margin-top: 15px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.list-user-products .item .add_btn:hover {
  border-color: #FAAF40;
  background: #faaf40;
  color: #fff;
}

.list-address-member {
  font-size: 16px;
  color: #6D6E70;
}

.list-address-member .title {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

.list-address-member .address-btn {
  color: #000;
  font-size: 16px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.list-address-member .address-btn:hover {
  color: #FAAF40;
}

table.table-order-member th {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  white-space: nowrap;
  border-top: none;
  border-bottom: 1px solid #EEEEEE;
  padding: 0 10px 10px;
}

table.table-order-member th:first-child {
  padding-left: 0;
}

table.table-order-member th:last-child {
  padding-right: 0;
}

table.table-order-member td {
  padding: 10px;
  font-size: 16px;
  color: #14304F;
  border-top: none;
  border-bottom: 1px solid #EEEEEE;
}

table.table-order-member td:first-child {
  padding-left: 0;
  color: #000;
}

table.table-order-member td:last-child {
  padding-right: 0;
}

table.table-order-member td a {
  line-height: normal;
  display: block;
  margin-bottom: 8px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

table.table-order-member td a:hover {
  color: #FAAF40;
}

.container-forgot {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container-forgot h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: normal;
}

.container-forgot .title-forgot {
  font-weight: 500;
  font-size: 18px;
}

.container-forgot .box-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-forgot .box-user input[type=text] {
  width: 400px;
  margin-right: 20px;
}

.container-forgot .box-user img {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 769px) {
  .grid-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 20px;
    padding-top: 0;
  }
  .grid-members .grid-item {
    width: 100%;
  }
  .user-content-side {
    padding: 10px;
  }
  .user-content-side .box-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .user-content-side .box-user .label-input {
    width: 100%;
    padding-top: 0;
    margin-bottom: 5px;
  }
  .user-content-side .box-user input[type=text], .user-content-side .box-user input[type=password] {
    width: 100%;
  }
  .user-content-side .box-user .label_error {
    padding-left: 0;
    grid-area: unset;
  }
  .user-menu-side .user-name {
    padding: 10px;
    margin: 0 -10px;
    border-radius: 0;
  }
  .user-menu-side {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  .user-menu-side ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    padding: 10px;
    width: calc(100% + 20px);
    margin: 0 -10px;
    grid-gap: 15px;
    background: #f5f5f5;
  }
  .user-menu-side ul::-webkit-scrollbar {
    display: none;
  }
  .user-menu-side ul a {
    border: 1px solid #14304F;
  }
  .user-menu-side ul li:last-child a {
    border-bottom: 1px solid #14304F;
  }
  .user-menu-side ul li.selected a {
    background: #D2B86E;
    border: 1px solid #D2B86E;
    color: #fff;
  }
  .user-menu-side ul li.selected a i {
    color: #fff;
  }
  .user-content-side .member-title {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .user-content-side .change-password-check {
    padding-left: 0;
  }
  .user-content-side .box-submit {
    padding-left: 0;
    margin-bottom: 0;
  }
  .user-content-side .box-submit a {
    font-size: 14px;
    height: 35px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: auto;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  table.table-order-member thead {
    display: none;
  }
  table.table-order-member tr {
    display: block;
    margin-bottom: 10px;
    margin: 0 -10px;
    padding: 0 10px;
  }
  table.table-order-member tr:last-child {
    margin-bottom: 0;
  }
  table.table-order-member tr:nth-child(even) {
    background: #f5f5f5;
  }
  table.table-order-member td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30% !important;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  table.table-order-member td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 10px;
    width: 30%;
    color: #000;
  }
  .list-user-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-user-products .item {
    width: calc(50% - 5px);
  }
  .list-user-products .item img {
    height: 150px;
  }
  .list-user-products .item .add_btn {
    width: 100%;
    font-size: 14px;
    height: 30px;
  }
}
/*# sourceMappingURL=members.css.map */